Use the command

wget http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.dataLinks to an external site.

to download this dataset from the many available at (http://archive.ics.uci.edu/ml/machine-learning-databases/).

Then, follow the steps hereLinks to an external site. until you create the file adult_sample_with_header.csv (https://www.datacamp.com/tutorial/shell-commands-data-scientist)

Note, in the steps above, you may need to write your sed output to another file in two steps: instead of sed 's/, ?, /,, /g' adult.csv > adult.csv use a new file name such as new-adult.csv on the righthand side of the redirection >.

Push that file to your GitHub repository or upload it using the GitHub graphical interface, then paste here the link to the csv file in your repo using the raw link (not the link to the GitHub page where the csv file is).

In [1]:
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2023-09-26 00:57:30--  http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘adult.data’

adult.data              [     <=>            ]   3.79M  2.87MB/s    in 1.3s

2023-09-26 00:57:32 (2.87 MB/s) - ‘adult.data’ saved [3974305]

In [2]:
!ls

adult.data  sample_data

# Count with wc

In [3]:
# how many lines it contains
!wc -l adult.data

32562 adult.data

In [4]:
# how many words the file contains
!wc -w adult.data

488415 adult.data

In [6]:
# looking at the first lines using `head` command
# lmiting output to first 2 lines using -n since head gives you 10 lines by default
!head -n 2 adult.data

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K

# Concatenate Files with cat

cat prints a file's content to the standard output  
it can also be used to concatenate a series of files  
The command cat file_1.csv file_2.csv > target_file.csv will merge the content of both file_1.csv and file_2.csv into target_file.csv, adding file_2.csv at the end of file_1.csv.

In [9]:
# using `echo` to create a comma separated list of column names into a header.csv file
!echo "age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class" > header.csv
!ls

adult.data  header.csv	sample_data

In [11]:
# adding header.csv file to the beginning of the adult.data file while also renaming the adult.data to adult.csv to accomadate the csv formatted file
!cat header.csv adult.data > adult.csv
!ls

adult.csv  adult.data  header.csv  sample_data

In [12]:
# checking that the first row of adult.csv contains the column names
!head -n 1 adult.csv

age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class

# Modify a File with sed  
Another frequent data mining scenario happens when a file is corrupted or badly formatted, such as with non UTF-8 characters or a misplaced comma. You can correct that file without actually opening it using the sed command.

The generic sed pattern is `!sed "s/<string to replace>/<string to replace it with>/g" <source_file> > <target_file>`.

In [13]:
# grep ", ?," adult.csv searches for lines in the file adult.csv that contain a comma followed by zero or one space followed by another comma.
# The | symbol pipes the output of the grep command to the wc command.
# Therefore, the entire command grep ", ?," adult.csv | wc -l counts the number of lines in the adult.csv file that contain a field with a space after the comma.
!grep ", ?," adult.csv | wc -l

2399

In [14]:
# replace all the columns with ? by an empty string
!sed "s/, ?,/,,/g" adult.csv >  adult.csv

# Subset a Large File
head outputs the first part of files;  
tail outputs the last part of files

In [16]:
# extracting 20 lines starting at line 100 and export exporting the contents to a subset file
!head -n 120 adult.csv | tail -n 20 > adult_sample.csv
!ls

adult.csv  adult.data  adult_sample.csv  header.csv  sample_data

In [18]:
# adding the header.csv file back into the adult_sample.csv since we didn't export the first line
!cat adult_sample.csv header.csv > adult_sample_with_header.csv
!ls

adult.csv   adult_sample.csv		  header.csv
adult.data  adult_sample_with_header.csv  sample_data